In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
path = Path('../datos')

In [4]:
house = pd.read_csv(path / 'house.csv')
house.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

In [5]:
house.isna()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4596,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4597,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4598,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4599,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
house.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [11]:
#Fragmento para añadir missings
m = house.sample(frac=0.05)
house['price'] = pd.Series([np.nan if i in m.index.values else v for i, v in zip(np.arange(len(house)), house['price'])])
m = house.sample(frac=0.05)
house['bedrooms'] = pd.Series([np.nan if i in m.index.values else v for i, v in zip(np.arange(len(house)), house['bedrooms'])])

In [12]:
house.isna().sum()

date               0
price            230
bedrooms         230
bathrooms          0
sqft_living        0
sqft_lot           0
floors             0
waterfront         0
view               0
condition          0
sqft_above         0
sqft_basement      0
yr_built           0
yr_renovated       0
street             0
city               0
statezip           0
country            0
dtype: int64

In [14]:
house['bedrooms'].value_counts() #No muestra los na

bedrooms
3.0    1940
4.0    1442
2.0     541
5.0     331
6.0      61
1.0      37
7.0      13
8.0       2
0.0       2
9.0       1
Name: count, dtype: int64

In [16]:
house['bedrooms'].value_counts(dropna = False) #Usando dropna false ya si pueden verse

bedrooms
3.0    1940
4.0    1442
2.0     541
5.0     331
NaN     230
6.0      61
1.0      37
7.0      13
8.0       2
0.0       2
9.0       1
Name: count, dtype: int64

In [17]:
house['price'].notna() #False = nulo

0        True
1        True
2        True
3        True
4        True
        ...
4595     True
4596     True
4597     True
4598    False
4599     True
Name: price, Length: 4600, dtype: bool

In [18]:
house[house['price'].notna()] #Filtra los que no son na en price

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,2014-07-09 00:00:00,2.106143e+05,3.0,2.50,1610,7223,2.0,0,0,3,1610,0,1994,0,26306 127th Ave SE,Kent,WA 98030,USA
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [20]:
house[house['price'].notna()]['price'] #Así ya no hay nan

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4594    2.106143e+05
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4599    2.206000e+05
Name: price, Length: 4370, dtype: float64

In [22]:
 np.nan == np.nan #Es false porque no se considera un valor

False

In [25]:
#Basándonos en esto podemos filtrar todos los valores igualandolos a sí mismos y nan no se podrá igualar
house.query('bedrooms == bedrooms').shape

(4370, 18)

In [26]:
## Cálculos

In [27]:
house['bedrooms'].mean() #Mean tiene un parametro skipna

np.float64(3.396796338672769)

In [29]:
house['bedrooms'].mean(skipna = False) #Si se pone en false da na, ya que no se podría calcular

np.float64(nan)

In [31]:
house['bedrooms'].min(skipna = False) # Lo mismo en otras

np.float64(nan)

In [32]:
## Fill na, para reemplazar valores missing por otro en concreto

In [46]:
b = house['bedrooms']
b

0       3.0
1       5.0
2       3.0
3       3.0
4       4.0
       ...
4595    3.0
4596    3.0
4597    3.0
4598   -1.0
4599    3.0
Name: bedrooms, Length: 4600, dtype: float64

In [47]:
b.value_counts(dropna = False)

bedrooms
 3.0    1940
 4.0    1442
 2.0     541
 5.0     331
-1.0     230
 6.0      61
 1.0      37
 7.0      13
 8.0       2
 0.0       2
 9.0       1
Name: count, dtype: int64

In [50]:
b.fillna(value=-1, inplace=True) #Sustituit por -1 y modificar la variable
b.value_counts(dropna = False)

bedrooms
 3.0    1940
 4.0    1442
 2.0     541
 5.0     331
-1.0     230
 6.0      61
 1.0      37
 7.0      13
 8.0       2
 0.0       2
 9.0       1
Name: count, dtype: int64

In [52]:
bed = house['bedrooms'].fillna(method = 'backfill') #No funciona por haber hecho inplace=True, se modificó a -1
bed.value_counts()

C:\Users\P1r7h4xX\AppData\Local\Temp\ipykernel_27540\339018296.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bed = house['bedrooms'].fillna(method = 'backfill') #No funciona por haber hecho inplace=True, se modificó a -1

bedrooms
 3.0    1940
 4.0    1442
 2.0     541
 5.0     331
-1.0     230
 6.0      61
 1.0      37
 7.0      13
 8.0       2
 0.0       2
 9.0       1
Name: count, dtype: int64

In [54]:
house.dropna(axis = 'index', how = 'any').shape

(4370, 18)

In [55]:
house.dropna(axis = 'columns', how = 'any').shape

(4600, 17)