In [1]:
import numpy as np
import pandas as pd
import datetime

In [3]:
ts = pd.Timestamp(2020, 1, 1)
ts

Timestamp('2020-01-01 00:00:00')

In [4]:
ts = pd.Timestamp('2020-01-01')
ts

Timestamp('2020-01-01 00:00:00')

In [6]:
dt = pd.to_datetime(['01/01/2020', np.datetime64('2020-01-02'), datetime.datetime(2020,1,3)])
dt

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq=None)

In [9]:
dt_int = (pd.date_range('2020-01-01', periods=5, freq='D'))
dt_int

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [10]:
dt_int = (pd.date_range('2020-01-01', periods=10, freq='D'))
dt_int

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [12]:
s = pd.Series(np.arange(10), index=dt_int)
s

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
2020-01-08    7
2020-01-09    8
2020-01-10    9
Freq: D, dtype: int64

In [13]:
s.resample('2D').mean()

2020-01-01    0.5
2020-01-03    2.5
2020-01-05    4.5
2020-01-07    6.5
2020-01-09    8.5
Freq: 2D, dtype: float64

In [25]:
pd.to_datetime(pd.Series(['Aug 01, 2020', '2020-01-02']), format='mixed')

0   2020-08-01
1   2020-01-02
dtype: datetime64[ns]

In [27]:
_ = pd.to_datetime('04/08/2020', dayfirst = True)
_

Timestamp('2020-08-04 00:00:00')

In [28]:
_ = pd.to_datetime('04/08/2020', dayfirst = False)
_

Timestamp('2020-04-08 00:00:00')

In [30]:
_ = pd.to_datetime('04/08/2020', format = '%d/%m/%Y')
_

Timestamp('2020-08-04 00:00:00')

In [31]:
## Epoch

In [32]:
pd.to_datetime([324523452,23452345,23452435,1421234,1241235], unit='s')

DatetimeIndex(['1980-04-14 01:24:12', '1970-09-29 10:32:25',
               '1970-09-29 10:33:55', '1970-01-17 10:47:14',
               '1970-01-15 08:47:15'],
              dtype='datetime64[ns]', freq=None)

In [33]:
week_mask = 'Mon Tue Wed'

In [45]:
#Rango de fechas de d√≠as laborales entre start y stop, frec=C quiere decir custom para definir por weekmask
_ = pd.bdate_range('2020-01-01', '2020-01-30', freq='C', weekmask=week_mask)
_

DatetimeIndex(['2020-01-01', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-27', '2020-01-28',
               '2020-01-29'],
              dtype='datetime64[ns]', freq='C')

In [37]:
_.isocalendar()

            year  week  day
2020-01-01  2020     1    3
2020-01-06  2020     2    1
2020-01-07  2020     2    2
2020-01-08  2020     2    3
2020-01-13  2020     3    1
2020-01-14  2020     3    2
2020-01-15  2020     3    3
2020-01-20  2020     4    1
2020-01-21  2020     4    2
2020-01-22  2020     4    3
2020-01-27  2020     5    1
2020-01-28  2020     5    2
2020-01-29  2020     5    3

In [39]:
_.year

Index([2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020,
       2020],
      dtype='int32')

In [40]:
_.day

Index([1, 6, 7, 8, 13, 14, 15, 20, 21, 22, 27, 28, 29], dtype='int32')

In [41]:
_.hour

Index([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype='int32')

In [42]:
_.dayofyear

Index([1, 6, 7, 8, 13, 14, 15, 20, 21, 22, 27, 28, 29], dtype='int32')

In [43]:
_.dayofweek

Index([2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2], dtype='int32')

In [44]:
_.day_name

<bound method _inherit_from_data.<locals>.method of DatetimeIndex(['2020-01-01', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-27', '2020-01-28',
               '2020-01-29'],
              dtype='datetime64[ns]', freq='C')>