In [70]:
import pandas as pd
import numpy as np
from pathlib import Path

In [73]:
data_path = Path('../datos')

In [74]:
dataset = pd.read_csv(filepath_or_buffer = data_path / 'Ejercicio.csv', sep = ',')
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sesión,Tiempo/Series,NaN,NaN,Lunes - Piernas,Martes - Pecho/Triceps,Miercoles - Espalda/Triceps,Jueves - Piernas,Viernes - Pectorales/Brazos
2,NaN,Calentamiento,5-10 minutos,NaN,NaN,Sentadillas 4x12,Flexiones 4x10-20,Remo con mochila 4x12,Sentadilla sumo 4x15,Flexiones inclinadas 3x12
3,NaN,Compuestos,3/4s -> 6-10rp,NaN,NaN,Zancadas con peso 3x10,Flexiones banco 3x10,Remo con toalla 3x10,Hip thrust 4x12,Apertura con banda o en suelo 3x12
4,NaN,Aislamiento,3s -> 10-15rp,NaN,NaN,Sentadilla en silla 3x8,Flexiones diamante 3x8,Curl de biceps 3x12,Puente de gluteos a una pierna 3x10,Curl de biceps codo pierna 3x12
5,NaN,Descanso ser,60-90s // 120s,NaN,NaN,Peso muerto con mochila 3x12,Fondos entre sillas 3x10,Curl martillo 3x10,Step ups en silla 3x12 por pierna,Triceps en banco 3x15
6,NaN,Estiramiento,5 minutos,NaN,NaN,Elevación de talones 3x20,Extensión de triceps 3x12,Superman hold 3x30s,Gemelos en escalón 3x25,Flexiones 5s x 5s 2x5
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,Desayunos,Aperitivo,Comida,Cena,NaN
10,NaN,NaN,NaN,NaN,NaN,Huevos,Griego,Pollo,Pescado,NaN
11,NaN,NaN,NaN,NaN,NaN,Avena,Fruta,Arroz,Arroz,NaN
12,NaN,NaN,NaN,NaN,NaN,Miel,Nueces,Huevo,Patatas,NaN
13,NaN,NaN,NaN,NaN,NaN,Platano,NaN,Tostadas tomate,Huevo cocido,NaN
14,NaN,NaN,NaN,NaN,NaN,Tostadas,NaN,NaN,NaN,NaN

In [49]:
dataset.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sesión,Tiempo/Series,NaN,NaN,Lunes - Piernas,Martes - Pecho/Triceps,Miercoles - Espalda/Triceps,Jueves - Piernas,Viernes - Pectorales/Brazos
2,NaN,Calentamiento,5-10 minutos,NaN,NaN,Sentadillas 4x12,Flexiones 4x10-20,Remo con mochila 4x12,Sentadilla sumo 4x15,Flexiones inclinadas 3x12
3,NaN,Compuestos,3/4s -> 6-10rp,NaN,NaN,Zancadas con peso 3x10,Flexiones banco 3x10,Remo con toalla 3x10,Hip thrust 4x12,Apertura con banda o en suelo 3x12
4,NaN,Aislamiento,3s -> 10-15rp,NaN,NaN,Sentadilla en silla 3x8,Flexiones diamante 3x8,Curl de biceps 3x12,Puente de gluteos a una pierna 3x10,Curl de biceps codo pierna 3x12

In [50]:
dataset.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
10,NaN,NaN,NaN,NaN,NaN,Huevos,Griego,Pollo,Pescado,NaN
11,NaN,NaN,NaN,NaN,NaN,Avena,Fruta,Arroz,Arroz,NaN
12,NaN,NaN,NaN,NaN,NaN,Miel,Nueces,Huevo,Patatas,NaN
13,NaN,NaN,NaN,NaN,NaN,Platano,NaN,Tostadas tomate,Huevo cocido,NaN
14,NaN,NaN,NaN,NaN,NaN,Tostadas,NaN,NaN,NaN,NaN

In [57]:
ds = pd.read_json(data_path / 'data.json', orient='index')
ds.head()

   Number     City  Gender  Age  Income Illness
0       1   Dallas    Male   41   40367      No
1       2  Houston  Female   33   50200     Yes

In [62]:
widths = [1,6,5,2,7,2]
ds_fijo = pd.read_fwf(data_path / 'fijo.txt', widths=widths)
ds_fijo.head()

   1  Dallas  Males  41  40367.0  No
0  1  Dallas  Males  41  40367.0  No
1  1  Dallas  Males  41  40367.0  No
2  1  Dallas  Males  41  40367.0  No
3  1  Dallas  Males  41  40367.0  No
4  1  Dallas  Males  41  40367.0  No

In [63]:
## Escritura

In [64]:
df_to_write = dataset.head(100)
df_to_write.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sesión,Tiempo/Series,NaN,NaN,Lunes - Piernas,Martes - Pecho/Triceps,Miercoles - Espalda/Triceps,Jueves - Piernas,Viernes - Pectorales/Brazos
2,NaN,Calentamiento,5-10 minutos,NaN,NaN,Sentadillas 4x12,Flexiones 4x10-20,Remo con mochila 4x12,Sentadilla sumo 4x15,Flexiones inclinadas 3x12
3,NaN,Compuestos,3/4s -> 6-10rp,NaN,NaN,Zancadas con peso 3x10,Flexiones banco 3x10,Remo con toalla 3x10,Hip thrust 4x12,Apertura con banda o en suelo 3x12
4,NaN,Aislamiento,3s -> 10-15rp,NaN,NaN,Sentadilla en silla 3x8,Flexiones diamante 3x8,Curl de biceps 3x12,Puente de gluteos a una pierna 3x10,Curl de biceps codo pierna 3x12

In [65]:
df_to_write.to_csv(data_path / 'df_to_write.csv', index = False, sep = '#', header = False)

In [67]:
df_to_write.to_json(data_path / 'df_to_write.json')

In [69]:
df_to_write.to_parquet(data_path / 'df_to_write.parquet', engine= 'pyarrow')

ImportError: Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.